#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  @apply font-quicksand;
}

/* FoodCard Styling starts */
.card__image {
}

.card__detail {
  @apply mt-6 mb-10;
}

.card__detail-rating {
}

.card__detail-status {
  @apply flex justify-between;
}

.card__detail-container {
  @apply flex items-center gap-2;
}

.card__detail-dot {
  @apply w-2 h-2 rounded-full;
}

.red {
  @apply bg-closed-red;
}

.green {
  @apply bg-open-green;
}

/* FoodCard Styling ends */

/* custom button styling starts */
.btn-base {
  @apply py-3 px-5 uppercase text-sm;
}

.btn-expanded {
  @apply w-full;
}
/* custom button styling ends */

/* star rating styling starts */
.rating__stars {
  @apply flex gap-2;
}

/* star rating styling ends */


/* Modal styling starts */
.card__modal { 
 @apply p-4 rounded-md fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.profile__wrapper { 
  @apply w-[60px] h-[60px] rounded-full overflow-hidden;
}

.card__modal-review { 
  @apply flex gap-4;
}

/* Modal styling ends */
